@import url('https://fonts.googleapis.com/css?family=Vidaloka');

body {
	background: white;
	

}

h3, p {
	color: blue;
	font-family: 'Vidaloka', serif;
	text-align:center;
	font-size:16px;

	

}

p {
	color: black;
}
